1.print each fruit in given list

In [1]:
f = ["apple","banana","cherry"]
for i in f:
    print(i)

apple
banana
cherry

2.print each number in given tuple

In [3]:
a  = (1,2,3,4,5)
for i in a:
    print(i)

1
2
3
4
5

3. print each character in a set

In [7]:
i = {'H','E','L','L','O'}
for s in i:
    print(s)

H
E
L
O

4.given string iterable "apple"

In [9]:
for i in "apple":
    print(i)

a
p
p
l
e

5

In [11]:
for i in  150:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
t = (1,2,3,4,5,6,7)
for i in t:
    print