# Set Examples

1.how to count the set length?

In [2]:
a={1,2,3,4,5}
len(a)

5

2.how to store out 9 and 9.0 as separeate values in set?

In [14]:
a={9,9.0}
print(a)

{9}

In [6]:
a={9,9.4}
print(a)

{9, 9.4}

3.how to sort the elements in given set?

In [18]:
a={"A","C","B","D"}
sorted(a)

['A', 'B', 'C', 'D']

4.how to use the union function given the set?

In [10]:
a={1,2,3,4}
b={4,5,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

5.how to find out the intersection in set?

In [12]:
a={1,2,3,4}
b={4,5,6,7}
a.intersection(b)

{4}